﻿
@{
    var TypeAgent = ViewBag.TypeAgent;
}
<div class="navbar" id="sidebar-wrapper" style="position:absolute; overflow:hidden;" role="navigation">
    <ul class="nav sidebar-nav padding-atas">
        <li class="cemenu">
            <a href="/Profile/" class="profile">
                <div class="profile-active"><img src="~/Content/dist/img/icon-profil-active.png" class="gambar-menu" /> Profil</div>
                <div class="profile-normal"><img src="~/Content/dist/img/icon-profil.png" class="gambar-menu" /> Profil</div>
            </a>
        </li>
        <li class="dropdown cemenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <div class="produk-active" style="display: none;"><img src="~/Content/dist/img/icon-product-active.png" class="gambar-menu" /> Produk<span class="fa fa-caret-down" style="display: none;"></span> <span class="fa fa-caret-right"></span></div>
                <div class="produk-normal"><img src="/Content/dist/img/icon-product.png" class="gambar-menu" /> Produk<span class="fa fa-caret-down" style="display: none;"></span> <span class="fa fa-caret-right"></span></div>
            </a>
            <ul class="dropdown-menu top-bs" role="menu" style="position: relative;">
                @if (TypeAgent == "Digital Agent")
                {
                    <li class="anak-dropdown" style="box-shadow:none;"><a href="/Kesehatan/" class="dropdown-anak">Kesehatan</a></li>
                    <li class="anak-dropdown" style="box-shadow:none;"><a href="/Traditional/" class="dropdown-anak">Traditional</a></li>
                }
                else
                {
                    <li class="anak-dropdown" style="box-shadow:none;"><a href="/Kesehatan/" class="dropdown-anak">Kesehatan</a></li>
                    <li class="anak-dropdown" style="box-shadow:none;"><a href="/UnitLink/" class="dropdown-anak"> Unitlink </a></li>
                    <li class="anak-dropdown" style="box-shadow:none;"><a href="/Traditional/" class="dropdown-anak">Traditional</a></li>

                }
            </ul>
        </li>
        <li class="cemenu">
            <a href="/History/" class="history">
                <div class="history-active"><img src="~/Content/dist/img/icon-history-active.png" class="gambar-menu" /> Data Historis</div>
                <div class="history-normal"><img src="~/Content/dist/img/icon-history.png" class="gambar-menu" /> Data Historis</div>
            </a>
        </li>
        @if (Sales.Illustration.Web.Helper._session.AppMode == "offline")
        {
            <li class="cemenu">
                <a href="/Update/" class="update">
                    <div class="update-active"><img src="~/Content/dist/img/icon-update-active.png" class="gambar-menu" /> Update</div>
                    <div class="update-normal"><img src="~/Content/dist/img/icon-update.png" class="gambar-menu" /> Update</div>
                </a>
            </li>
        }

        @*@if (Sales.Illustration.Web.Helper._session.RoleUser == "admin")
            {
                <li class="cemenu">
                    <a href="/Log/" class="log">
                        <div class="log-active"><img src="~/Content/dist/img/icon-log-active.png" class="gambar-menu" /> Admin</div>
                        <div class="log-normal"><img src="~/Content/dist/img/icon-log.png" class="gambar-menu" /> Admin</div>
                    </a>
                </li>
            }*@
        <li class="cemenu">
            <a href="/Info/" class="info">
                <div class="info-active"><img src="~/Content/dist/img/icon-info-active.png" class="gambar-menu" /> Info</div>
                <div class="info-normal"><img src="~/Content/dist/img/icon-info.png" class="gambar-menu" /> Info</div>
            </a>
        </li>
        <li class="cemenu">
            <a href="/Exit/" class="exit">
                <div class="exit-active"><img src="~/Content/dist/img/exit.png" class="gambar-menu" /> Exit</div>
                <div class="exit-normal"><img src="~/Content/dist/img/exit-grey.png" class="gambar-menu" /> Exit</div>
            </a>
        </li>
    </ul>
</div>