﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Header")
<script type="text/javascript">
    if (clearSession == 1)
        window.location.href = '@Url.Action("ClearSession", "Unitlink")';
    else
        window.location.href = '@Url.Action("NasabahData", "Unitlink")';
</script>
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
    </div>
</div>
@Html.Partial("Footer")
