﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pTitle = ViewData["productName"];
    var subject = ViewData["subject"];
    var attachment = ViewData["attachment"];
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
}
@model Sales.Illustration.Web.ViewModel.SendApiInvitationViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>

    <div class="main-content" style="padding: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-tittle-1">
                    <i class=""></i> Send Mail Report
                </div>
                @using (Html.BeginForm("SendApiInvitation", "Report", FormMethod.Post, new { @id = "form" }))
                {
                    <fieldset>
                        <div class="col-lg-12">
                            <div class="row row-form" style="margin:0px -30px;">
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Customer Email Address
                                        </label>
                                        <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.CustomerAddress, new { @class = "form-control", @placeholder = "Mail To" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Customer Mobile Phone
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "0" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Subject
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Attachment
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.Attachment, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Body
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextAreaFor(m => m.Body, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.Source)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("ResetAllData", "Unitlink")';">
                    CREATE NEW
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button class="btn btn-warning" onclick="next()">
                    SEND INVITATION
                </button>
            </div>
        </div>
    </div>

</div>
@Html.Partial("Footer")

<script type="text/javascript">

    $('document').ready(function () {
        var msg = $('#hdErrorMsg').val();
        if (msg != null && msg != "") {
            alertify.alert(msg);
        }
    });

    $('#@Html.IdFor(m => m.Phone)').on('focusout change', function () {
        var z = $('#@Html.IdFor(m => m.Phone)').val();
        if (/\D/.test(z)) {
            alertify.alert("Nomor telepon harus angka");
            $('#@Html.IdFor(m => m.Phone)').val('');
        }
    });
    function next() {
        var Phone = $('#@Html.IdFor(m => m.Phone)').val();
        var CustAddress = $('#@Html.IdFor(m => m.CustomerAddress)').val();
        var Body = $('#@Html.IdFor(m => m.Body)').val();

        if (Phone != "" && CustAddress != "" && Body != "") {
            $("#form").submit();
        }
        else {
            alertify.alert("Mohon lengkapi data.");
        }
        
    }
</script>
