﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model Sales.Illustration.Web.ViewModel.TopUpWithdrawalViewModel
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
    var pTitle = ViewData["ProductTitle"];
    var pCode = ViewData["ProductCode"];
    var pTopupStart = ViewData["TopUpStartYear"];
    var pWithdrawlStart = ViewData["WithdrawalStartYear"];
    var pPremiBerkala = ViewData["PremiBerkala"];
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>


@using (Html.BeginForm("ValidateTopUpWithdrawal", "UnitLink", FormMethod.Post, new { @id = "form" }))
{
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-tittle-1">
                    <i class="to"></i>  Top Up dan Withdrawal
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12" style="padding-left:10px; padding-top:5px;">
                        <button type="button" id="topup_button" class="btn btn-warning" onclick="addTopUp()">
                            TOP UP
                        </button>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 " style="padding-left:10px; padding-top:5px;">
                        <button type="button" id="withdrawal_button" class="btn btn-warning" onclick="addWithdrawal()">
                            WITHDRAWAL
                        </button>
                    </div>
                </div>
                <br />

                <div class="table-responsive" id="table">
                    <table id="content_tb" class="table-reg">
                        <thead>
                            <tr>
                                <th style="width:250px;">Tipe Transaksi</th>
                                <th style="width:135px;">Tahun</th>
                                <th style="width:190px;">Total</th>
                                <th style="width:180px;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="content_body">
                            @{
                                if (Model.TopupWithdrawals != null)
                                {
                                    foreach (var tw in Model.TopupWithdrawals)
                                    {
                                        Html.RenderPartial("TopUpWithdrawalRow", tw);
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
                    <input type="hidden" id="hdProduct" value="@pCode" />
                    <input type="hidden" id="hdTopUpStart" value="@pTopupStart" />
                    <input type="hidden" id="hdWithdrawalStart" value="@pWithdrawlStart" />
                    <input type="hidden" id="hdTopUp" value="" />
                    <input type="hidden" id="hdWithdrawal" value="" />
                    <input type="hidden" id="hdPremiBerkala" value="@pPremiBerkala" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button type="button" id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToRider", "UnitLink")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button type="button" id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearUnitLinkTopUpWithdrawalData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button type="submit" name="nextName" id="submit" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>
                                    }

</div>
@Html.Partial("Footer")
@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">    
    $(document).ready(function () {
        var msg = $('#hdErrorMsg').val();

        if (msg != null && msg != "") {
            alertify.alert(msg);
        }

        isiDataTahun();
    });

    function validateYear(element,alert)
    {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var type = document.getElementsByName("TopupWithdrawals[" + index + "].txtType")[0].value;
        var classtype = type == "TOP UP" ? "#hdTopUp" : "#hdWithdrawal";
        var classtype2 = type == "TOP UP" ? ".topup" : ".withdrawal";
        var array = $(classtype).val().split(";");
        if($.inArray(element.value, array) > -1)
        {
            var startyear = parseInt($(type == "TOP UP" ? "#hdTopUpStart" : "#hdWithdrawalStart").val());
            if(alert)
                alertify.alert((type == "TOP UP" ? "Top Up": "Withdrawal")+ " untuk tahun tersebut sudah ada");

            for(i = startyear;i < 100;i++)
            {
                if(!($.inArray(i.toString(), array) > -1))
                {
                    element.value = i.toString();
                    break;
                }
            }
        }            
        
        $(classtype).val("");
        $(classtype2).each(function(){
            $(classtype).val($(classtype).val() + ($(classtype).val() == "" ? "" : ";") + this.value);
        });
    }

    function isiDataTahun()
    {
        $("#hdTopUp").val("");
        $("#hdWithdrawal").val("");
        $(".topup,.withdrawal").each(function(){
            var name = $(this)[0].getAttribute("name");
            var i = name.indexOf("[");
            var n = name.indexOf("]");
            var index = name.substring(i + 1, n);
            var type = document.getElementsByName("TopupWithdrawals[" + index + "].txtType")[0].value;
            var classtype = type == "TOP UP" ? "#hdTopUp" : "#hdWithdrawal";
            var classtype2 = type == "TOP UP" ? ".topup" : ".withdrawal";
            $(classtype).val($(classtype).val() + ($(classtype).val() == "" ? "" : ";") + $(this).val());
        });
    }

    function validateAmountTopupWithdrawal(element)
    {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var type = document.getElementsByName("TopupWithdrawals[" + index + "].txtType")[0];
        var amount = document.getElementsByName("TopupWithdrawals[" + index + "].Amount")[0];
        var prodCode = $('#hdProduct').val();

        if (amount.value != "") {
            if (isNumeric(toDecimalFormat(amount.value))) {
                if (type.value == "TOP UP") {
                    getProduct(prodCode, "#" + element.getAttribute("id"), function (product) {
                        var minTopup = product["MinSingleTopUp"];
                        var topup = toDecimalFormat(amount.value);

                        if (parseInt(topup) < parseInt(minTopup)) {
                            alertify.alert("Minimal nilai Top Up adalah " + toMoneyFormat(minTopup));
                            amount.value = "";
                            return;
                        }
                        else {
                            var PremiBerkala = toDecimalFormat($("#hdPremiBerkala").val());
                            var MaxTopUp = 0;

                            if (prodCode == "HLINVEST") {
                                MaxTopUp= toDecimalFormat(PremiBerkala * 2000 / 100);
                                if (parseInt(topup) > parseInt(MaxTopUp)) {
                                    alertify.alert("Top Up yang dapat diajukan Maximum 2000% dari Premi Dasar Berkala");
                                    amount.value = "";
                                }
                            }
                            if (prodCode == "HLMAXPRO") {
                                MaxTopUp = toDecimalFormat(PremiBerkala * 1000 / 100);

                                if (parseInt(topup) > parseInt(MaxTopUp)) {
                                    alertify.alert("Top Up yang dapat diajukan Maximum 1000% dari Premi Dasar Berkala");
                                    amount.value = "";
                                }
                            }
                        }
                    });
                }
                else {
                    getProduct(prodCode,"#"+element.getAttribute("id"), function (product) {
                        var minWithdrawal = product["MinWithdrawal"];
                        var withdrawal = toDecimalFormat(amount.value);

                        if (parseInt(withdrawal) < parseInt(minWithdrawal)) {
                            alertify.alert("Minimal nilai Withdrawal adalah " + toMoneyFormat(minWithdrawal));
                            amount.value = "";
                            return;
                        }
                    });
                }
            }
            else {
                alertify.alert("Nilai Top Up atau Withdrawal harus angka.");
                amount.value = "";
                return;
            }
        }
    }

    function next() {
        document.getElementById("form").submit();
    }

    function addTopUp() {
        $.ajax({
            async: false,
            url: '/UnitLink/AddNewTopUp'
        }).success(function (partialView) {
            $('#content_body').append(partialView);            
        });

        validateYear($('#content_body tr:last').find(".topup")[0],false);
    }

    function addWithdrawal() {
        $.ajax({
            async: false,
            url: '/UnitLink/AddNewWithrdrawal'
        }).success(function (partialView) {
            $('#content_body').append(partialView);
        });

        validateYear($('#content_body tr:last').find(".withdrawal")[0],false);
    }

    function deleteRow(r) {
        
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("content_tb").deleteRow(i);
        isiDataTahun();
    }
</script>
