﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pTitle = ViewData["ProductTitle"];
    var insAge = ViewData["insAge"];
    var prodCode = ViewData["ProductCode"];
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
}
@using Sales.Illustration.Web.Extensions
@model Sales.Illustration.Web.ViewModel.PremiumAndInvestmentViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("ValidatePremiumAndInvestmentData", "Kesehatan", FormMethod.Post, new { @id = "form" }))
                {
                    if (prodCode.Equals("HLLIFE"))
                    {
                        <div class="content-tittle-1">
                            <img src="~/Content/dist/img/icon_profile.png" /> <span>Informasi Pemegang Polis dan Tertanggung</span>
                        </div>
                        <fieldset id="tableTT">
                            <div class="table-responsive">
                                <table class="table" style="font-size: 14px;">
                                    <tr class="text-center">
                                        <td class="col-lg-2 col-md-2 col-sm-4 col-xs-12"></td>
                                        <td class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><label>Nama</label></td>
                                        <td class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><label>Jenis Kelamin</label></td>
                                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-12"><label>Usia</label></td>
                                        <td class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><label>Pekerjaan</label></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:middle"><label>Pemegang Polis</label></td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.NamaPemegangPolis, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.JenisKelaminPemegangPolis, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.UmurPemegangPolis, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBox("PekerjaanPemegangPolis", ViewData["pekerjaanP"] as string, new { @class = "form-control", @readonly = "readonly" })</td>
                                    </tr>
                                    <tr id="trTertanggungUtama">
                                        <td style="vertical-align:middle"><label>Tertanggung Utama</label></td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.NamaTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.JenisKelaminTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.UmurTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBox("PekerjaanTertanggungUtama", ViewData["pekerjaanT"] as string, new { @class = "form-control", @readonly = "readonly" })</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="table-responsive" style="overflow-x: visible;">
                                <table id="content_tb" class="table" style="font-size: 14px;">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:180px;">Tertanggung Tambahan <br>(Penerima Manfaat)</th>
                                            <th>Nama</th>
                                            <th>Tanggal Lahir</th>
                                            <th style="width:190px;"> Jenis Kelamin</th>
                                            <th>Usia</th>
                                            <th>Pekerjaan</th>
                                            <th>Hubungan</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_tt">
                                        @for (var i = 0; i < Model.additionalInsured.TertanggungTambahan.Count; i++)
                                        {
                                            @Html.Partial("AdditionalInsuredRow", Model.additionalInsured.TertanggungTambahan[i])
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                        <br />

                        <button class="btn btn-warning icon-plus" onclick="add()" type="button">
                            Add
                        </button>
                    }
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/icon-moneybag.png" /> <span id="judulAtas">Premi dan Uang Pertanggungan</span>
                    </div>
                    <fieldset>
                        <div class="col-lg-12">
                            <div class="row row-form" style="margin:0px -30px;">
                                <div id="mataUang" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Mata Uang
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.MataUang, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                @if (!(prodCode.Equals("HPCP")))
                                {
                                    <div id="modeBayar" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Cara Pembayaran Premi
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.DropDownListFor(m => m.ModeBayarPremi, StaticDropdownValues.GetPaymentMode(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="pilihanMasaBayar">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Pilihan Masa Pembayaran Premi Berkala
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.DropDownListFor(m => m.PilihanMasaPembayaran, StaticDropdownValues.GetPaymentPeriod(prodCode.ToString()), new { @class = "form-control" })
                                        </div>
                                    </div>
                                }
                                @if (prodCode.Equals("HLLIFE"))
                                {
                                    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="masaAsuransi">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Masa Asuransi
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(m => m.MasaAsuransi, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                }
                                @if (!prodCode.Equals("HPCP"))
                                {
                                    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="masaPembayaranPremi">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Masa Pembayaran Premi
                                            </label>
                                        </div>
                                        @if (prodCode.Equals("HLLIFE") || prodCode.Equals("HLFUTURE") || prodCode.Equals("HLSAVING") || prodCode.Equals("HLHEALTH") || prodCode.Equals("HLGOLDENA") || prodCode.Equals("HLGOLDENB"))
                                        {
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                @Html.DropDownListFor(m => m.RencanaMasaPembayaran, StaticDropdownValues.GetPaymentPeriod(prodCode.ToString()), new { @class = "form-control" })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                @Html.TextBox("mpp", "Sampai dengan usia anak mencapai 18 tahun", new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        }
                                    </div>

                                }
                                @if (prodCode.Equals("HLHEALTH"))
                                {
                                    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Jenis Plan
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.DropDownListFor(m => m.JenisPlan, ViewData["jenisPlanX"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        </div>
                                    </div>
                                }
                                else if (prodCode.Equals("HPCP"))
                                {
                                    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Plan
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.DropDownListFor(m => m.JenisPlan, StaticDropdownValues.GetPlan(Model.AgentType), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Manfaat Rawat Jalan
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.DropDownListFor(m => m.ManfaatRawatJalan, StaticDropdownValues.GetManfaatRawatJalan(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Uang Pertanggungan
                                            </label>
                                        </div>
                                        @if (prodCode.Equals("HLSAVING"))
                                        {
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(m => m.UangPertanggungan, new { @class = "form-control", @placeholder = "0", @readonly = "readonly" })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(m => m.UangPertanggungan, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                                            </div>
                                        }
                                    </div>
                                }
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="caraBayar">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label" id="lblCaraBayar">
                                            Mode Premi Berkala
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(m => m.CaraBayar, ViewData["paymentMethods"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div id="premiBerkala" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label" id="lblPremi">
                                            Premi Bulanan
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.PremiBerkala, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.TextBoxFor(m => m.PremiInpatient, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.TextBoxFor(m => m.PremiOutpatient, new { @class = "form-control", @readonly = "readonly" })

                                    </div>
                                </div>
                                <div id="premitahunan" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label" id="lblPremiTahunan">
                                            Premi Tahunan
                                        </label>
                                    </div>
                                    @if (prodCode.Equals("HLGOLDENA") || prodCode.Equals("HLGOLDENB"))
                                    {
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(m => m.PremiTahunan, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                                        </div>
                                    }
                                </div>
                            </div>
                            <input type="hidden" id="hdInsAge" value="@insAge" />
                            <input type="hidden" id="hdProdCode" value="@prodCode" />
                            <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
                        </div>
                    </fieldset>
                    if (!(prodCode.Equals("HPCP")))
                    {
                        <div class="content-tittle-1">
                            <img src="/Content/dist/img/p1.png" /> Informasi Virtual Anak
                        </div>
                        <fieldset>
                            <div class="row row-form" style="margin:0px -15px;">
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Usia Masuk Anak
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.UsiaMasukAnak, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Masa Asuransi
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.MasaAsuransi, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label" id="lblMasaBayar">
                                            Masa Pembayaran Premi
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.RencanaMasaPembayaran, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                            </div>
                        </fieldset>
                    }
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToNasabahData", "Kesehatan")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearTraditionalPremiumAndInvestmentData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Footer")
@using Newtonsoft.Json
@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">
    @{
        var jsonSetting = new JsonSerializerSettings
        { PreserveReferencesHandling = PreserveReferencesHandling.All };
    }
    var addInsured = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.additionalInsured.TertanggungTambahan, jsonSetting)));
    var dataNasabah = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.additionalInsured.NasabahData, jsonSetting)));
    var mustRelation;
    var isTTu = "@ViewData["isTertanggungUtama"]";

    $('document').ready(function () {
        var msg = $('#hdErrorMsg').val();
        if (msg != null && msg != "") {
            alertify.alert(msg);
        }

        $("#PremiInpatient").hide();//Add 25/01/2020
        $("#PremiOutpatient").hide();//Add 25/01/2020
        setLabel();
        produkChange($('#hdProdCode').val());
        HitungPremiAsuransi();
        $("#tableTT").hide();
    });


    function setLabel() {
        var x = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();
        var prod = $('#hdProdCode').val();

        if (prod == "HPCP") {
            $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').prop('disabled', true);
            $('#@Html.IdFor(m => m.ModeBayarPremi)').prop('disabled', true);
            $('#judulAtas').text("Masa Pembayaran dan Uang Pertanggungan");
            $('#lblCaraBayar').html("Cara Bayar Premi");
            $('#mataUang').show();
            $('#modeBayar').hide();
            $('#pilihanMasaBayar').hide();
            $('#lblPremiTahunan').hide();
            $('#premiBerkala').show();
            $('#lblPremi').html("Premi Asuransi");
        }
    }

   $('#@Html.IdFor(m => m.CaraBayar)').change(function () {
        setLabel(); produkChange($('#hdProdCode').val());
        HitungPremiAsuransi();
   });

    $('#@Html.IdFor(m => m.ManfaatRawatJalan)').change(function () {
        setLabel();
        produkChange($('#hdProdCode').val());
        var isTTU = dataNasabah.TertanggungUtama;
        var age = isTTU == "Ya" ? dataNasabah.UmurPemegangPolis : dataNasabah.UmurTertanggungUtama;
        var ManfaatRawatJalan = $('#ManfaatRawatJalan').val();
        var JenisPlan = $('#JenisPlan').val();

        if (ManfaatRawatJalan == "Outpatient") {
            if ((age > 59)) {
                alertify.alert("Usia Masuk Tertanggung untuk Manfaat Tambahan Rawat Jalan adalah 59 Tahun");
                $('#@Html.IdFor(m => m.PremiOutpatient)').val('');
                $('#@Html.IdFor(m => m.PremiInpatient)').val('');
                $('#@Html.IdFor(m => m.PremiBerkala)').val('');
                return;
            }
            else if (JenisPlan == "750" || JenisPlan == "1000") {
                alertify.alert("Manfaat Rawat Jalan Hanya Bisa Diambil Jika Plan Rawat Inap 2000 atau 5000");
                $('#@Html.IdFor(m => m.PremiOutpatient)').val('');
                $('#@Html.IdFor(m => m.PremiInpatient)').val('');
                $('#@Html.IdFor(m => m.PremiBerkala)').val('');
                return;
            }
            else {
                HitungPremiAsuransi();
            }
        }
        else {
            HitungPremiAsuransi();
        }


   });

   $('#@Html.IdFor(m => m.JenisPlan)').change(function () {

        setLabel();
        produkChange($('#hdProdCode').val());
        var isTTU = dataNasabah.TertanggungUtama;
        var age = isTTU == "Ya" ? dataNasabah.UmurPemegangPolis : dataNasabah.UmurTertanggungUtama;
        var ManfaatRawatJalan = $('#ManfaatRawatJalan').val();
        var JenisPlan = $('#JenisPlan').val();

        if (ManfaatRawatJalan == "Outpatient") {
            if ((age > 59)) {
                alertify.alert("Usia Masuk Tertanggung untuk Manfaat Tambahan Rawat Jalan adalah 59 Tahun");
                $('#@Html.IdFor(m => m.PremiOutpatient)').val('');
                $('#@Html.IdFor(m => m.PremiInpatient)').val('');
                $('#@Html.IdFor(m => m.PremiBerkala)').val('');
                return;
            }
            else if (JenisPlan == "750" || JenisPlan == "1000") {
                alertify. alert("Manfaat Rawat Jalan Hanya Bisa Diambil Jika Plan Rawat Inap 2000 atau 5000");
                $('#@Html.IdFor(m => m.PremiOutpatient)').val('');
                $('#@Html.IdFor(m => m.PremiInpatient)').val('');
                $('#@Html.IdFor(m => m.PremiBerkala)').val('');
                return;

            }
            else {
                HitungPremiAsuransi();
            }
        }
        else {
            HitungPremiAsuransi();
        }
   });

   function HitungPremiAsuransi() {
       var planValue = parseInt($('#@Html.IdFor(m => m.JenisPlan)').val());
       var type = $('#@Html.IdFor(m => m.ManfaatRawatJalan)').val();
       var caraBayar = $('#@Html.IdFor(m => m.CaraBayar)').val();
       var productCode = $('#hdProdCode').val();


       console.log(planValue + " plan " + type + " manfa " + caraBayar);

       if (type == "Outpatient")
       {
           calcPremiKesehatan(productCode, "Inpatient", planValue, function (result) {
            var premiInpatient = result;
            var premiAsuransi = 0;

               calcPremiKesehatan(productCode, "Outpatient", planValue, function (result) {
                   var premiOutpatient = result;

                   getPaymentMethod(parseInt(caraBayar), productCode, "premi", '#@Html.IdFor(m => m.PremiBerkala)', function (pm) {
                       var factor = (pm["Factor"]);

                       console.log(parseFloat(factor / 100) + " pm");

                       premiAsuransi = (premiInpatient + premiOutpatient) * parseFloat(factor / 100);
                       premiOutpatient = premiOutpatient * parseFloat(factor / 100);
                       premiInpatient = premiInpatient * parseFloat(factor / 100);
                       console.log(premiAsuransi + " premiasru");
                       $('#@Html.IdFor(m => m.PremiBerkala)').val(toMoneyFormat(roundNumber(premiAsuransi, 1)));
                       $('#@Html.IdFor(m => m.PremiOutpatient)').val(toMoneyFormat(roundNumber(premiOutpatient, 1)));
                       $('#@Html.IdFor(m => m.PremiInpatient)').val(toMoneyFormat(roundNumber(premiInpatient, 1)));

                   });
               });
           });

       }
       else
       {
           calcPremiKesehatan(productCode, "Inpatient", planValue, function (result) {
            var premiInpatient = result;
            var premiAsuransi = 0;
                getPaymentMethod(parseInt(caraBayar), productCode, "premi", '#@Html.IdFor(m => m.PremiBerkala)', function (pm) {
                    var factor = (pm["Factor"]);
                    console.log(parseFloat(factor / 100) + " pm");
                    premiAsuransi = premiInpatient * parseFloat(factor / 100);
                    premiInpatient = premiInpatient * parseFloat(factor / 100);
                    console.log(premiAsuransi + " premiasuransi");
                    $('#@Html.IdFor(m => m.PremiBerkala)').val(toMoneyFormat(roundNumber(premiAsuransi, 1)));
                    $('#@Html.IdFor(m => m.PremiOutpatient)').val(0);
                    $('#@Html.IdFor(m => m.PremiInpatient)').val(toMoneyFormat(roundNumber(premiInpatient, 1)));
                });
           });

       }
    }

   function next() {
        var premiAsuransi = $('#@Html.IdFor(m => m.PremiBerkala)').val();

       if (parseInt(premiAsuransi) > 0 && premiAsuransi != null && premiAsuransi != "") {
           $("#form").submit();
       }
       else {
           alertify.alert("Data Premi  belum lengkap!");
       }
   }
</script>
