﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var up = ViewData["up"];
    var premiberkala = ViewData["premiberkala"];
    var ttgUtama = ViewData["ttgUtama"] == null ? "" : ViewData["ttgUtama"];
    var masaasuransi = ViewData["masaasuransi"];
    var modebayar = ViewData["modebayar"];
    var masabayar = ViewData["masabayar"];
    var insage = ViewData["insage"];
    var carabayar = ViewData["carabayar"];
    var pTitle = ViewData["ProductTitle"];
    var productcode = ViewData["productcode"];
}
@model Sales.Illustration.Web.ViewModel.RiderViewModel
@using Sales.Illustration.Web.Extensions

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("ValidateRiderData", "Traditional", FormMethod.Post, new { @id = "form" }))
                {
                    <div class="content-tittle-1">
                        <i class="cs"></i>  Pilihan Asuransi Tambahan
                    </div>
                    <div class="table-responsive">
                        <table id="content_tb" class="table-reg table">
                            <thead>
                                <tr>
                                    <th style="width:155px;"> </th>
                                    <th style="width:250px;">Asuransi Tambahan</th>
                                    <th style="width:155px;"> </th>
                                    <th style="width:190px; text-align:center;">Uang Pertanggungan</th>
                                    <th style="width:180px; text-align:center">Premi Asuransi Tambahan</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                    var riders = Model.Riders;

                    for (int i = 0; i < riders.Count(); i++)
                    {
                        var rider = riders[i].Rider;

                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Riders[i].Checked, new { onchange = "riderCheckedChange(this)" })
                                        @if (!rider.RiderName.Equals("HWPCI"))
                                        {<span>@rider.RiderName</span>}
                                        else {<span></span> }
                                        @Html.HiddenFor(m => m.Riders[i].Rider.RiderCode)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.Category)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.RiderName)

                                        @Html.HiddenFor(m => m.Riders[i].Rider.AllowAdditionalInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.RiderRates)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.CoverTerm)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.Description)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.DisableRider)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.HasSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.HasType)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.InsuredMaxAge)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.InsuredMinAge)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.IsActive)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.MaxAmountSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.MaxPercSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.MinAmountSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.MinPercSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.OrderNo)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.PolicyHolderMaxAge)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.PolicyHolderMinAge)
                                        @*@Html.HiddenFor(m => m.Riders[i].Rider.RiderProducts)
        @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes)*@
                                    </label>
                                </div>
                            </td>
                           
                            @if (rider.Category.Equals("Basic"))
                            {
                                if (rider.RiderCode.Equals("CI"))
                                {
                                    <td style="width: 150px;">
                                        @Html.DropDownListFor(m => m.ddlRiderCoverage, StaticDropdownValues.GetRiderCoverage(), new { @class = "form-control tipe",onchange = "changeDdlRiderCoverage(this)" })
                                    </td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].AllocationPercent, new { @class = "form-control tipe", @width = "150px", @placeholder = "0%", onfocus = "clearPercentValueOnFocus(this)", onblur = "zeroingPercentValueOnBlur(this); validateValueInputted(this);", @readonly = "readonly" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].UangPertanggungan, new { @class = "form-control tipe", @width = "150px", @placeholder = "0", onblur = "validateValueInputted(this)", oninput = "toMoneyFormatElement(this)", @readonly = "readonly" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].BiayaAsuransi, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                            }
                            else if (rider.Category.Equals("Unit"))
                            {
                                <td colspan="2">
                                    @{
                                var list = new List<SelectListItem>();
                                foreach (var choice in rider.RiderTypes)
                                {

                                    list.Add(new SelectListItem() { Text = choice.TypeName, Value = choice.TypeName });
                                }

                                @Html.DropDownListFor(m => m.Riders[i].UnitName, list, new { @class = "form-control", @disabled = "disabled" })
                                    }
                                </td>
                                <td>
                                    <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12" style="padding:0px;">
                                        @Html.DropDownListFor(m => m.Riders[i].Unit, Sales.Illustration.Web.Extensions.StaticDropdownValues.getHundredValues(), new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">
                                        <label> Unit </label>
                                    </div>
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].BiayaAsuransi, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                            }
                            else if (rider.Category.Equals("Choice"))
                            {
                                <td colspan="2">
                                    @{
                                var list = new List<SelectListItem>();
                                foreach (var choice in rider.RiderTypes)
                                {
                                    list.Add(new SelectListItem() { Text = choice.TypeName, Value = choice.TypeName });
                                }

                                @Html.DropDownListFor(m => m.Riders[i].Choice, list, new { @class = "form-control", @disabled = "disabled" })
                                    }
                                </td>
                                <td></td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].BiayaAsuransi, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                            }
                            else if (rider.Category.Equals("Choices"))
                            {
                                 if (rider.RiderName.Equals("HWPCI"))
                                 { 
                                    <td colspan="2">@rider.RiderDesc</td>
                                 }
                                 else 
                                 { 
                                    <td colspan="2">
                                        @{
                                            if (Model.Riders[i].Choices != null)
                                            {
                                                var choices = Model.Riders[i].Choices;
                                                for (int n = 0; n < choices.Count; n++)
                                                {
                                                    var choice = choices[n];
                                                    <div class="checkbox-inline col-lg-3">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.Riders[i].Choices[n].Checked, new { onchange = "riderTypeCheckedChange(this)" })
                                                            <span style="font-size : 14px;">@choice.RiderType.TypeName</span>
                                                            @Html.HiddenFor(m => m.Riders[i].Choices[n].RiderType.RiderTypeId)
                                                            @Html.HiddenFor(m => m.Riders[i].Choices[n].RiderType.TypeName)
                                                            @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes.ElementAt(n).RiderTypeId,
                                                            new { Name = "Riders[" + i + "].Rider.RiderTypes[" + n + "].RiderTypeId" })
                                                            @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes.ElementAt(n).TypeName,
                                                            new { Name = "Riders[" + i + "].Rider.RiderTypes[" + n + "].TypeName" })
                                                        </label>
                                                    </div>
                                                }
                                            }
                                        }
                                    </td>
                                 }
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].UangPertanggungan, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].BiayaAsuransi, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                            }
                        </tr>
                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-9">
                            Total Premi Asuransi Tambahan
                        </div>
                        @if (ViewData["productcode"].Equals("HSCI"))
                        {
                            <div id="ttoalbiayapremiasuransi" class="col-lg-3">
                                @Html.TextBoxFor(m => m.TotalBiayaPremiAsuransi, new { @class = "form-control", @readonly = "readonly", width = "150", style = "text-align:right" })
                            </div>
                        }
                        <div id="total_cor" class="col-lg-3">
                            @Html.TextBoxFor(m => m.BiayaAsuransiTambahan, new { @class = "form-control", @readonly = "readonly", width = "150", style = "text-align:right" })
                        </div>

                        <input type="hidden" id="hdUP" value="@up" />
                        <input type="hidden" id="hdPremiBerkala" value="@premiberkala" />
                        <input type="hidden" id="hdModeBayar" value="@modebayar" />
                        <input type="hidden" id="hdMasaAsuransi" value="@masaasuransi" />
                        <input type="hidden" id="hdMasaBayar" value="@masabayar" />
                        <input type="hidden" id="hdInsAge" value="@insage" />
                        <input type="hidden" id="hdCaraBayar" value="@carabayar" />
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToPremiumAndInvestment", "Traditional")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearTraditionalRiderData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>

</div>
@Html.Partial("Footer")
@System.Web.Optimization.Scripts.Render("~/bundles/app")
@using Newtonsoft.Json

<script type="text/javascript">
    @{
        var jsonSetting = new JsonSerializerSettings
        {
            PreserveReferencesHandling = PreserveReferencesHandling.All
        };
    }

    var riders = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.Riders, jsonSetting)));
    var riderCount = @Model.Riders.Count();
    var dataNasabah = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.NasabahData, jsonSetting)));

    $(document).ready(function () {
        var prod = "@ViewData["productcode"]";
        for (var i = 0; i < riders.length; i++) {
            var cb = document.getElementsByName("Riders[" + i + "].Checked")[0];
            var id = cb.getAttribute("id");

            //if (riders[i].Choices != null) {
            //    for (var x = 0; x < riders[i].Choices.length; x++) {
            //        var cb = document.getElementsByName("Riders[" + i + "].Choices[" + x + "].Checked")[0];
            //        var id = cb.getAttribute("id");

            //        if ($('#' + id + ':checked').val() == "true") {
            //            riderTypeCheckedChange(cb);
            //        }
            //    }
            //}
            if (prod == "HSCI") {
                $('#total_cor').hide();
                $('#@Html.IdFor(m => m.TotalBiayaPremiAsuransi)').val($('#hdPremiBerkala').val());
            }
            if ($('#' + id + ':checked').val() == "true") {
                riderCheckedChange(cb);
            }
            @*else {
                if (prod == "HSCI")
                    $('#@Html.IdFor(m => m.TotalBiayaPremiAsuransi)').val($('#hdPremiBerkala').val());
            }*@
        }
    });

    function next() {
        var check = "";
        $("#content_tb").find("input[name*='UangPertanggungan']").each(function() {
            var val = $(this).val();
            var isChecked = $(this).parent().parent().find("input[name*='Checked']").eq(0).prop("checked");
            if(isChecked && (val == "0" || val == ""))
                check = "Uang Pertanggungan harus diisi jika rider dipilih";
        });
        $("#content_tb").find("input[name*='BiayaAsuransi']").each(function() {
            var val = $(this).val();
            var rider = riders[$(this).parent().parent().index()].Rider;
            var isChecked = $(this).parent().parent().find("input[name*='Checked']").eq(0).prop("checked");
            if(isChecked && (val == "0" || val == "" || val == null))
            {
                check = "Terjadi kesalahan,silahkan ulangi mengisi rider " + rider.RiderName;
                $(this).parent().parent().find("input[name*='Checked']").eq(0).prop("checked",false);
                riderCheckedChange($(this).parent().parent().find("input[name*='Checked']")[0]);
            }
        });
        if(check == "")
        {
            $("#form").submit();
        }else{
            alertify.alert(check);
        }
    }
    function isCoveredByRider(rider, age) {
        var maxAge = rider.InsuredMaxAge / 12;
        var minAge = parseInt(rider.InsuredMinAge / 12);


        var covered = age <= maxAge && age >= minAge;
        return covered;
    }


    function checkAgeForRiderAndElement(rider, element) {
        var age =  dataNasabah.UmurTertanggungUtama ?  dataNasabah.UmurTertanggungUtama : dataNasabah.UmurPemegangPolis;
        if (!isCoveredByRider(rider, age)) {
            // if insured age is not covered by rider
            alertify.alert("Umur Tertanggung tidak memenuhi syarat untuk mengambil rider ini");
            $(element).prop('checked', false);
            return false;
        }
        return true;
    }

    function disableRiderByElement(element) {
        var rowIndex = $(element).parent().parent().parent().parent().index();
        var checked = $(element).prop('checked');
        var disabledRiderIndex = riders[rowIndex].Rider.DisableRider;
        var disabledRider;

        for (var i = 0; i < riders.length; i++) {
            if (riders[i].Rider.OrderNo == disabledRiderIndex) {
                disabledRider = riders[i];
            }
        }
        if (disabledRider != null) {
            $('#content_tb').find('span:contains("' + disabledRider.Rider.RiderName + '")').each(function() {
                var span = $(this);
                var disableCheckbox = span.parent().find("input[name*='Checked']").eq(0);
                if (checked) {
                    disableCheckbox.click(function () {
                        return false;
                    });
                } else {
                    disableCheckbox.prop('onclick', null).off('click');
                }
            });
        }



    }

    function iterateAllCheckbox() {
        $("#content_tb").find("input[type='checkbox']").each(function() {
            var checkbox = $(this);
            disableRiderByElement(checkbox);
        })
    }

    function riderCheckedChange(element) {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var rider = riders[index].Rider;

        if(checkValidasiRider(rider.RiderCode,element))
        {
            if (rider.RiderCode == "HWPCI") {
                calcPremiTambahanHWPCI(rider.RiderCode, name, rider.Category, element);
            }
            else {
                checkAgeForRiderAndElement(rider, element);
                disableRiderByElement(element);
                disableRider(rider.Category, index, rider.RiderTypes);
                calcTotalCOR();
                iterateAllCheckbox();
            }
        }
    }

    function calcPremiTambahanHWPCI(code, name, category, element) {
        name = name.replace("Checked", "BiayaAsuransi");
        var upName = name.replace("BiayaAsuransi", "UangPertanggungan");
        var upInput = $('#content_tb input[name="' + upName + '"]');
        var premiberkala = parseFloat($('#hdPremiBerkala').val().replace(/,/g, ""));

        if ($(element).prop('checked')) {
            var riderCov = $('#hdMasaAsuransi').val();
            var modeBayar = $('#hdModeBayar').val();
            var mpp = $('#hdMasaBayar').val();
            var age = $('#hdInsAge').val();
            var caraBayar = $('#hdCaraBayar').val();
            var prod = "0";
            var up = parseFloat($('#hdUP').val().replace(/,/g, ""));
            

            getRiderRate(code, age, category, mpp, function (hasil) {
                getPaymentMethod(parseInt(caraBayar), prod, "rider", "#" + $('#content_tb input[name="' + name + '"]').attr("id"), function (pm) {
                    var factor = parseFloat(pm["Factor"] / 100);
                    var premiTambahan = roundNumber(((hasil["Rate"] / 1000) * (mpp * premiberkala * caraBayar) * factor), 1);
                    var totalPremiTambahan = premiberkala + premiTambahan;
                    var riderUP = premiberkala * mpp * caraBayar;

                    upInput.val(toMoneyFormat(riderUP));
                    $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(premiTambahan));
                    $('#@Html.IdFor(m => m.TotalBiayaPremiAsuransi)').val(toMoneyFormat(totalPremiTambahan));
                    $('#@Html.IdFor(m => m.BiayaAsuransiTambahan)').val(toMoneyFormat(premiTambahan));

                });
            });

        }
        else {
            $('#content_tb input[name="' + upName + '"]').val(0);
            $('#content_tb input[name="' + name + '"]').val(0);
            $('#@Html.IdFor(m => m.TotalBiayaPremiAsuransi)').val(toMoneyFormat(premiberkala));
            $('#@Html.IdFor(m => m.BiayaAsuransiTambahan)').val(0);
        }
    }

    function checkValidasiRider(code,element)
    {
        var isTertanggungUtama  = "@ViewData["ttgUtama"]";
        var caraBayar  = "@ViewData["modebayar"]";

        if (code == "WOP" && (isTertanggungUtama == "Tidak" || caraBayar != 'berkala'))
        {
            alertify.alert("Waiver of Premium hanya bisa diambil jika Pemegang Polis dan Tertanggung Utama sama dengan cara bayar Berkala");
            element.checked = false;
            return false;
        }
        else if (code == "HWPCI" && isTertanggungUtama == "Tidak") {
            alertify.alert("Hanwha Waiver of Premium CI hanya dapat diambil jika Pemegang Polis sama dengan Tertanggung");
            element.checked = false;
            return false;
        }
        else {
	            return true;
        }
    }

    function disableRider(category, index, types) {
        // disable and enable input according to checkbox check or uncheck
        if (category == "Basic") {
            var upPercentage = document.getElementsByName("Riders[" + index + "].AllocationPercent")[0];
            var up = document.getElementsByName("Riders[" + index + "].UangPertanggungan")[0];
            var coi = document.getElementsByName("Riders[" + index + "].BiayaAsuransi")[0];
            up.readOnly = !up.readOnly;
            //upPercentage.disabled = !upPercentage.disabled;

            if (up.readOnly) {
                up.value = "";
                upPercentage.value = "0%";
                coi.value = "0";
                //hitungCOR(up.getAttribute("name"), 0);
            }
        }
        else if (category == "Unit") {
            var unitName = document.getElementsByName("Riders[" + index + "].UnitName")[0];
            var unit = document.getElementsByName("Riders[" + index + "].Unit")[0];

            unitName.disabled = !unitName.disabled;
            unit.disabled = !unit.disabled;
        }
        else if (category == "Choice") {
            var choice = document.getElementsByName("Riders[" + index + "].Choice")[0];
            choice.disabled = !choice.disabled;
        }
        else if (category == "Choices") {
            // check all input name that contains the name of choices input
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].name.indexOf("Riders[" + index + "].Choices") >= 0 && inputs[i].name.indexOf("Checked") >= 0) {
                    var onclickAttr = inputs[i].getAttribute("onclick");
                    var id = inputs[i].getAttribute("id");

                    if (onclickAttr == "") {
                        inputs[i].checked = false;
                        $('#' + id + '').attr('onclick', 'return false;');
                        var up = document.getElementsByName("Riders[" + index + "].UangPertanggungan")[0];
                        var coi = document.getElementsByName("Riders[" + index + "].BiayaAsuransi")[0];
                        up.value = "";
                        coi.value = "";
                    }
                    else {
                        $('#' + id + '').attr('onclick', '');
                    }
                }
            }
        }
    }

    function riderTypeCheckedChange(element) {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var rider = riders[index].Rider;
        var tr = $(element).parent().parent().parent().parent();
        var trchecked = tr.find("input[name*='Checked']").eq(0).prop('checked');
        if(!trchecked)
        {
            element.checked = false;
            return;
        }
        hitungCOR(name, null, rider);
    }

    function validateValueInputted(element) {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var rider = riders[index].Rider;
        var tr = $(element).parent().parent();
        var trchecked = tr.find("input[name*='Checked']").eq(0).prop('checked');
        if(!trchecked)
            return;
        // if the element that checked is sum insured textbox
        var sumInsured =  element.value == "" ? 0 : parseFloat(element.value.replace(/,/g, ""));
        var sumInsuredReal = element.value == "" ? 0 : parseFloat(element.value.replace(/,/g, ""));
        var maxSumInsured = rider.MaxAmountSumInsured;
        var minSumInsured = rider.MinAmountSumInsured;
        var up = toDecimalFormat($('#hdUP').val());var ret = true;var CIMinAmount = 10000000;
        var alert = "";
        if (!isNumeric(toDecimalFormat(element.value)))
        {
            alert = "Uang Pertanggungan harus angka";
            $('#content_tb input[name="' + name + '"]').val(""); sumInsured = 0;
            named = name.replace("UangPertanggungan", "AllocationPercent");
            $('#content_tb input[name="' + named + '"]').val("0%");
            ret = false;
        }else{
            if(rider.RiderCode == "CI")
                minSumInsured = CIMinAmount;

            var perc = (sumInsured / up) * 100;
            var maxPercentage = rider.MaxPercSumInsured;
            var minPercentage = rider.MinPercSumInsured;
            var checkamount = true;var salah = "min";
            if(rider.RiderCode == "CI")
                maxPercentage = 100;

            //if (minPercentage != null && perc < minPercentage) {
            //    alertify.alert("Minimal uang pertanggungan untuk " + rider.RiderName + " adalah " + minPercentage + "%");
            //    name = name.replace("AllocationPercent", "UangPertanggungan");sumInsured = (minPercentage / 100) * up;
            //    $('#content_tb input[name="' + name + '"]').val(toMoneyFormat((minPercentage / 100) * up));
            //    name = name.replace("UangPertanggungan", "AllocationPercent");
            //    $('#content_tb input[name="' + name + '"]').val(minPercentage + "%");
            //    ret = false;
            //}

            if (maxPercentage != null && perc > maxPercentage) {
                alert = "Maksimal Uang Pertanggungan untuk " + rider.RiderName + " adalah " + maxPercentage + "% dari Uang Pertanggungan dasar";
                name = name.replace("AllocationPercent", "UangPertanggungan");sumInsured = (maxPercentage / 100) * up > maxSumInsured ? maxSumInsured : (maxPercentage / 100) * up;
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured.toString()));
                name = name.replace("UangPertanggungan", "AllocationPercent");
                $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
                ret = false;salah = "max";
            }

            if (minSumInsured != null && sumInsured < minSumInsured) {
                if(ret)
                    alert = "Minimal Uang Pertanggungan untuk " + rider.RiderName + " adalah " + toMoneyFormat(minSumInsured);
                else
                    alert += " dengan minimal nilai " + toMoneyFormat(minSumInsured);

                name = name.replace("AllocationPercent", "UangPertanggungan");
                //sumInsured = (minPercentage / 100) * up > minSumInsured ? (minPercentage / 100) * up : minSumInsured;
                sumInsured = minSumInsured;
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured.toString()));
                name = name.replace("UangPertanggungan", "AllocationPercent");
                $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
                checkamount = false;salah = "min";
            }

            //if (maxSumInsured != null && sumInsured > maxSumInsured) {
            //    alertify.alert("Maksimal uang pertanggungan untuk " + rider.RiderName + " adalah " + toMoneyFormat(maxSumInsured));
            //    element.value = toMoneyFormat(maxSumInsured.toString());
            //    name = name.replace("UangPertanggungan", "AllocationPercent");sumInsured = maxSumInsured;
            //    $('#content_tb input[name="' + name + '"]').val(roundNumber(((maxSumInsured/up) * 100), 0) + "%");
            //    ret = false;
            //}

            //if((((sumInsured * 100 /up)) % 5) != 0  && rider.RiderCode == "CI" && sumInsured != maxSumInsured)
            //{
            //    if(((minPercentage / 100) * up) > maxSumInsured == false)
            //    {
            //        if(ret && checkamount)
            //            alert = "Persentase rider CI harus kelipatan 5% dari uang pertanggungan dasar";
            //        else
            //            alert += " dan persentase rider CI harus kelipatan 5% dari uang pertanggungan dasar";

            //        sumInsured = salah == "min" ? ((minPercentage / 100) * up) > minSumInsured ? (minPercentage / 100) * up : minSumInsured : maxSumInsured;
            //        ret = false;
            //    }else{
            //        sumInsured = maxSumInsured;
            //    }
            //    name = name.replace("AllocationPercent", "UangPertanggungan");
            //    $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured));
            //    name = name.replace("UangPertanggungan", "AllocationPercent");
            //    $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
            //}
        }

        if(alert == "")
        {
            name = name.replace("AllocationPercent", "UangPertanggungan");
            $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured));
            name = name.replace("UangPertanggungan", "AllocationPercent");
            $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
        }

        if(alert != "" && sumInsured != sumInsuredReal)
            alertify.alert(alert);

        // calculate cor
        hitungCOR(name, sumInsured, rider);
        calcTotalCOR();
        return true;
    }

    function hitungCOR(name, up, rider) {
        if (rider.Category == "Basic") {
            if (name.indexOf("UangPertanggungan") >= 0)
                name = name.replace("UangPertanggungan", "Checked");
            else
                name = name.replace("AllocationPercent", "Checked");

            var riderCode = $('#content_tb input[name="' + name + '"]').last().next().html();
            var riderCov = $('#hdMasaAsuransi').val();
            var modeBayar = $('#hdModeBayar').val();
            var masaBayar = $('#hdMasaBayar').val();
            var insage = $('#hdInsAge').val();
            var caraBayar = $('#hdCaraBayar').val();
            var prod = "0";

            if (modeBayar == "berkala") {
                var ddlRiderCov = $('#@Html.IdFor(m => m.ddlRiderCoverage)').val();
                if (ddlRiderCov == "1")
                    riderCov = masaBayar;
                else {
                    if ((65 - insage) < riderCov)
                        riderCov = 65 - insage;
                }
                modeBayar = modeBayar + "" + ddlRiderCov;
            }
            else {
                if ((65 - insage) < riderCov)
                    riderCov = 65 - insage;
            }

            calcTraditionalCOR(toDecimalFormat(up), rider.RiderCode, null, modeBayar, riderCov, rider.Category,"#"+$('#content_tb input[name="' + name.replace("Checked", "BiayaAsuransi") + '"]').attr("id"), function (cor) {
                if (modeBayar == "sekaligus") {
                    name = name.replace("Checked", "BiayaAsuransi");
                    cor = roundNumber(cor, 1);
                    $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(cor));
                    calcTotalCOR();
                }
                else {
                    getPaymentMethod(parseInt(caraBayar), prod,"rider", "#" + $('#content_tb input[name="' + name.replace("Checked", "BiayaAsuransi") + '"]').attr("id"), function (pm) {
                        var factor = parseFloat(pm["Factor"]);
                        name = name.replace("Checked", "BiayaAsuransi");
                        cor = roundNumber(cor * (factor / 100), 1);
                        $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(cor));
                        calcTotalCOR();
                    });
                }
            });
        }
        else if (rider.Category == "Choices") {
            if (name.indexOf("Checked") >= 0) {
                var element = document.getElementsByName(name)[0];
                var riderTypeIndex = $(element).parent().parent().index();
                var choiceCheckbox = $('input[name="' + name + '"]');
                var riderTypeId = rider.RiderTypes[riderTypeIndex].RiderTypeId;
                var modeBayar = $('#hdModeBayar').val();
                var caraBayar = $('#hdCaraBayar').val();
                name = name.replace("Checked", "BiayaAsuransi");
                name = name.split('.')[0] + '.' + name.split('.')[2];

                calcTraditionalCOR(null, rider.RiderCode, riderTypeId, modeBayar, null, rider.Category,"#"+$('#content_tb input[name="' + name + '"]').attr("id"), function (cor) {

                    var corName = name;
                    var upName = name.replace("BiayaAsuransi", "UangPertanggungan");
                    var corInput = $('#content_tb input[name="' + corName + '"]');
                    var upInput = $('#content_tb input[name="' + upName + '"]');
                    var prod = "0";
                    var currentCor = parseInt(toDecimalFormat(corInput.val()));

                    if (modeBayar == "sekaligus") {
                        corInput.val(toMoneyFormat(choiceCheckbox.prop('checked') ? roundNumber(cor.cor, 1) + currentCor : currentCor - roundNumber(cor.cor, 1)));
                        upInput.val(toMoneyFormat(roundNumber(cor.upR, 1)));

                        calcTotalCOR();
                    }
                    else {
                        getPaymentMethod(parseInt(caraBayar), prod, "rider","#"+corInput.attr("id"), function (pm) {
                            var factor = parseFloat(pm["Factor"]);
                            corInput.val(toMoneyFormat(choiceCheckbox.prop('checked') ? roundNumber(cor.cor * (factor / 100), 1) + currentCor : currentCor - roundNumber(cor.cor * (factor / 100), 1)));
                            upInput.val(toMoneyFormat(roundNumber(cor.upR, 1)));

                            calcTotalCOR();
                        });
                    }

                    if (corInput.val() == "0" || corInput.val() == "") {
                        upInput.val("");
                        corInput.val("");

                        calcTotalCOR();
                    }
                });
            }
        }
    }

    function calcTotalCOR() {
        var total = 0;
        for (var i = 0; i < riderCount; i++) {
            var cb = document.getElementsByName("Riders[" + i + "].BiayaAsuransi")[0];
            var id = cb.getAttribute("id");
            var idValue = $('#' + id + '').val();
            total = total + parseInt(toDecimalFormat(idValue));
        }

        $('#@Html.IdFor(m => m.BiayaAsuransiTambahan)').val(toMoneyFormat(total));
    }

    function changeDdlRiderCoverage(el)
    {
        var element = $(el);
        var index = element.parent().parent().index();
        var upInput = $('#content_tb input[name="Riders[' + index + '].UangPertanggungan"]')[0];
        if(upInput.value != "0" || upInput.value != "")
            validateValueInputted(upInput);
    }

</script>