﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pTitle = ViewData["ProductTitle"];
    Sales.Illustration.Web.Models.MainModel obj = new Sales.Illustration.Web.Models.MainModel();
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
}
@model Sales.Illustration.Web.ViewModel.SummaryViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("Report", "Traditional", FormMethod.Post, new { @id = "form" }))
                {
                    <div class="content-tittle-1">
                        <i class="p1"></i> Data Nasabah
                    </div>
                    <div class="table-responsive">
                        <table id="content_tb" class="table-reg table" style="font-size: 14px;">
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Nama
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.NamaPemegangPolis)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Tanggal Lahir
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.TanggalLahirPemegangPolis)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Jenis Kelamin
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.JenisKelaminPemegangPolis)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Status Pekerjaan
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayName(ViewData["pekerjaanP"] as string)
                                    </div>
                                </td>
                            </tr>
                            @*<tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Kelas Pekerjaan
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.KelasPekerjaanPemegangPolis)
                                        </div>
                                    </td>
                                </tr>*@
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Umur
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.UmurPemegangPolis) Tahun
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        Tertanggung Utama
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.TertanggungUtama)
                                    </div>
                                </td>
                            </tr>
                            @if (Model.Nasabah.TertanggungUtama.Equals("Tidak"))
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Nama
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.NamaTertanggungUtama)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Tanggal Lahir
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.TanggalLahirTertanggungUtama)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Jenis Kelamin
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.JenisKelaminTertanggungUtama)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Status Pekerjaan
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayName(ViewData["pekerjaanT"] as string)
                                        </div>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                Kelas Pekerjaan
                                            </div>
                                        </td>
                                        <td>:</td>
                                        <td>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                @Html.DisplayFor(m => m.Nasabah.KelasPekerjaanTertanggungUtama)
                                            </div>
                                        </td>
                                    </tr>*@
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Umur
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.UmurTertanggungUtama) Tahun
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            Hubungan dengan Pemegang Polis
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.Relation)
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if (Model.Nasabah.NamaProduk != "HSCI" && Model.Nasabah.NamaProduk != "HLGOLDENA" && Model.Nasabah.NamaProduk != "HLGOLDENB" && Model.Nasabah.NamaProduk != "HLLIFE" && Model.Nasabah.NamaProduk != "HLFUTURE" && Model.Nasabah.NamaProduk != "HLSAVING" && Model.Nasabah.NamaProduk != "HLHEALTH")
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Nama Anak
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.NamaAnak)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Tanggal Lahir
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.TanggalLahirAnak)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Jenis Kelamin
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.JenisKelaminAnak)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Umur
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.UmurAnak) Tahun
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Nama Produk
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayName(ViewData["produk"] as string)
                                    </div>
                                </td>
                            </tr>
                        </table>
                        @if (Model.Nasabah.NamaProduk == "HLLIFE")
                        {
                            <table id="tertanggung" class="table-reg table" style="font-size: 14px;">
                                <thead class="text-center">
                                    <tr>
                                        <td colspan="6" class="text-left">
                                            <div>
                                                <b>Tertanggung Tambahan (Penerima Manfaat)</b>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:200px">
                                            <div>
                                                <b>Nama</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <b>Tanggal Lahir</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <b>Usia</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <b>Jenis Kelamin</b>
                                            </div>
                                        </td>
                                        <td style="width:200px">
                                            <div>
                                                <b>Pekerjaan</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <b>Hubungan</b>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @foreach (var ttg in Model.Premi.additionalInsured.TertanggungTambahan)
                                    {
                                        <tr>
                                            <td style="width:200px" class="text-left">
                                                <div>
                                                    @ttg.Nama
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    @ttg.DateOfBirth
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    @ttg.Age
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    @ttg.Gender
                                                </div>
                                            </td>
                                            <td style="width:300px">
                                                <div>
                                                    @obj.GetRiskClass(Int32.Parse(ttg.KelasPekerjaan)).RiskClassDesc
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    @ttg.Relationship
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/icon-moneybag.png" /> @ViewData["premiTitle"]
                    </div>
                    <div class="table-responsive">
                        <table id="content_tb" class="table-reg table" style="font-size: 14px;">
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Mata Uang
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Premi.MataUang)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Cara Pembayaran Premi
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    @if (Model.Nasabah.NamaProduk.Equals("HLEDU") && Model.Premi.ModeBayarPremi.Equals("berkala"))
                                    {
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.ModeBayarPremi)
                                        </div>
                                    }
                                    else if (Model.Nasabah.NamaProduk.Equals("HLEDU") && !Model.Premi.ModeBayarPremi.Equals("berkala"))
                                    {
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            Tunggal
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayName(ViewData["caraBayar"] as string)
                                        </div>
                                    }
                                </td>
                            </tr>
                            @if (Model.Nasabah.NamaProduk.Equals("HLEDU") && Model.Premi.ModeBayarPremi.Equals("berkala"))
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Pilihan Masa Pembayaran Premi Berkala
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.PilihanMasaPembayaran)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Mode Premi Berkala
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.CaraBayar)
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if (!Model.Nasabah.NamaProduk.Equals("HLFUTURE") && !Model.Nasabah.NamaProduk.Equals("HLSAVING") && !Model.Nasabah.NamaProduk.Equals("HLHEALTH"))
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Masa Asuransi
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.MasaAsuransi) Tahun
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Masa Pembayaran Premi
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    @if (Model.Nasabah.NamaProduk.Equals("HLEDU"))
                                    {
                                        if (Model.Premi.ModeBayarPremi.Equals("berkala"))
                                        {
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                @Html.DisplayFor(m => m.Premi.RencanaMasaPembayaran) Tahun
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                Tunggal
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.RencanaMasaPembayaran) Tahun
                                        </div>
                                    }
                                </td>
                            </tr>
                            @if (Model.Nasabah.NamaProduk.Equals("HLHEALTH"))
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Jenis Plan
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.JenisPlan)
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Uang Pertanggungan
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.UangPertanggungan)
                                        </div>
                                    </td>
                                </tr>
                            }
                                @if (Model.Nasabah.NamaProduk.Equals("HLKIDS") || Model.Nasabah.NamaProduk.Equals("HSCI") || Model.Nasabah.NamaProduk.Equals("HLFUTURE") || Model.Nasabah.NamaProduk.Equals("HLSAVING") || Model.Nasabah.NamaProduk.Equals("HLHEALTH"))
                                {
                                    <tr>
                                        <td>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                Premi @ViewData["caraBayar"]
                                            </div>
                                        </td>
                                        <td>:</td>
                                        <td>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                @Html.DisplayFor(m => m.Premi.PremiBerkala)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                Pilihan Bahasa
                                            </div>
                                        </td>
                                        <td>:</td>
                                        <td>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                @Html.DisplayName(ViewData["language"] as string)
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                    </div>
                    if (Model.Nasabah.NamaProduk.Equals("HLEDU"))
                    {
                        <div class="content-tittle-1">
                            <img src="/Content/dist/img/icon-cost.png" /> Biaya Asuransi
                        </div>
                        <div class="table-responsive">
                            <table id="content_tb" class="table-reg table" style="font-size: 14px;">
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Premi
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.PremiBerkala)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Biaya Asuransi Tambahan
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Rider.BiayaAsuransiTambahan)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Biaya Asuransi
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Insurance.BiayaAsuransiTotal)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Pilihan Bahasa
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayName(ViewData["language"] as string)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                    if (Model.Nasabah.NamaProduk.Equals("HLLIFE"))
                    {
                        <div class="content-tittle-1">
                            <img src="/Content/dist/img/icon-cost.png" /> Premi Asuransi dan Pilihan Bahasa
                        </div>
                        <div class="table-responsive">
                            <table class="table-reg table" style="font-size: 14px;">
                                @{
                                   var dataTTg = ViewData["dataTertanggung"] as Sales.Illustration.Web.ViewModel.InsuranceCostTraditionalViewModel;
                                }
                                @foreach (var ttg in dataTTg.ListTertanggung)
                                {
                                    <tr>
                                        <td>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                @ttg.NamaTertanggung
                                            </div>
                                        </td>
                                        <td>:</td>
                                        <td>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text-right">
                                                @ttg.Premi
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Total Premi
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text-right">
                                            @dataTTg.TotalPremi
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Pilihan Bahasa
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayName(ViewData["language"] as string)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("InsuranceCostAndRatio", "Traditional")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <a href="#" id="content_clear" class="btn btn-warning">
                    CLEAR
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
</div>
@Html.Partial("Footer")

<script type="text/javascript">
    $(document).ready(function () {
        var msg = $('#hdErrorMsg').val();

        if (msg != null && msg != "") {
            alertify.alert(msg);
        }
    });
    function next() {
        if (localStorage.tabHanwha != sessionStorage.sessionHanwha) {
            $("body").prepend("<div class=\"overlayajax2\"><img class=\"imgsrc\" src=\"/Content/dist/img/load.gif\" /></div>");
            window.location.href = window.location.origin + "/Home";
        } else {
            $("body").prepend("<div class=\"overlayajax\"><img class=\"imgsrc\" src=\"/Content/dist/img/load.gif\" /></div>");
            window.location.href = '@Url.Action("Report", "Traditional")';
        }
    }
</script>
