﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>UPDATE</b></h5></center>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
            <div class="main-content">
                <div class="row" style="padding-left: 0px; padding-right: 0px;">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:5%; padding-bottom:10%; min-height:180px">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <h3><p style="text-align:center">Apakah Anda akan melakukan update sistem?</p></h3>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">
                            <button type="btn" class="btn btn-default">
                                TIDAK
                            </button>
                            <button type="btn" class="btn btn-warning">
                                UPDATE
                            </button>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center" style="padding-top: 15px;">
                            <strong>Caution</strong><br />
                            Make sure the computer / PC / Laptop you can connect to the internet network
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Footer")
